{% extends 'base.html' %}

{% block content_block %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Genre</th>
                <th>Stock</th>
                <th>Daily Rate</th>
                <th>Title</th>
            </tr>
        </thead>
        <body>
            {% for movie in movies %}
                <tr>
                    <td>
                        {{ movie.genre }}
                    </td>
                    <td>{{ movie.number_in_stock }}</td>
                    <td>{{ movie.daily_rate }}</td>
                    <td>
                        <a href="{% url 'movies:detail' movie.id %}"> {{ movie.title }} </a> 
                    </td>
                </tr>
            {% endfor %}
        </body>
    </table>
{% endblock content_block %}